<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Debt Tracker</title>
    </head>
    
    <body>
        <div class='mainContent'>
            {{>header}}
            <p>This is only the beginning...</p>
        </div>
        
        {{>footer}}
    <script src="js/main.js"></script>
    </body>
</html>